body {
	background-image: url('forest.jpg');
}

h1 {
	font-family: 'Eater', cursive;
	text-align: center;
	color: cornsilk;
	font-size: 4.5em;
	text-shadow: red 2px 2px 2px, yellow 4px 4px 1px;
}

div#button {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2em;
	background-color: red;
	width: 340px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	padding: 15px 0px;
	transition: all 2s;
}

div#button:hover {
	background-color: yellow;
	color: black;
	font-size: 2.3em;
	width: 400px;
	cursor: grabbing;
}


